
#this {

background-image: url("./newassets/plane.jpg");
background-repeat: no-repeat;
background-size: 100%;
height:100%;
width: 100%;
margin-left: inherit;

}

.col-6 {
display: grid;
justify-items:center ;
    margin: auto;
}

#left-block {

    height: auto;
    width: auto;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    margin-left: 0px;
}



.img-fluid { 
    max-width: 100%;
    height: auto;


}

#bottom-empty {
color: aqua;
    background-color: aqua;
}
#top {

    width: 200px;
}
